a {
    color:rgb(0, 102, 255);
    text-decoration:none;
}

a:hover {
    text-decoration:underline;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

th {
    text-align: left;
}

.size {
    font-size: small;
}

.italics {
    font-style: italic ;
}

#abcd {
    color: white;
}

.small {
    font-size: x-small;
}


.margins {
    margin-right: 200px;
    margin-left: 200px;
}

.center {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.left {
    width: 130px;
    position: fixed;
    z-index: 1;
    top: 20px;
    left: 10px;
    background: #eee;
    overflow-x: hidden;
    padding: 8px 0;
}

.right {
    margin-left: 140px; /* Same width as the sidebar + left position in px */
    padding: 0px 10px;  
}

.indent {
    margin-left: 0.5in;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
