a {
    color:rgb(0, 102, 255);
    text-decoration:none;
}

a:hover {
    text-decoration:underline;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

th {
    text-align: left;
}

.size {
    font-size: small;
}

.italics {
    font-style: italic ;
}

#abcd {
    color: white;
}

.small {
    font-size: x-small;
}


.margins {
    margin-right: 200px;
    margin-left: 200px;
}

.center {
    width: 100%;
}

.left {
    width: 20%; height: 100px; float: left;
}

.right {
    margin-left: 20%; height: 100px;
    margin-right: 10%;
    
}

.indent {
    margin-left: 0.5in;
}

@media only screen and (max-width: 600px) {
    
    body {
        width:100%;
        font-size: 100%;
    }
    img {
        width:100%
    }
  }
